<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Components</title>
	<!-- 
	<link rel="stylesheet" href="style.css">
  <script src="script.js"></script> -->
</head>

<body>
	<div class="header">
		<a href="/"> <img src="https://image.flaticon.com/icons/svg/174/174851.svg" width=50/>
		<div class = "nav-text">
			<a href="/"> Breath</a>
			<a href="/"> Experience</a>
			<a href="/"> Nirvana </a>
		</div>
		<a href="/"> <img src="https://pbs.twimg.com/media/DbkAPocX0AARVD0.jpg" class="avatar"> 
	</div>

	<div class="wrapper" width=auto>
		<div class="card">
  		<img src="https://www.headspace.com/static/home/orange-breathing-character.svg" alt="John" style="height: 80px">
  		<h3>John Doe</h3>
  		<p class="title">Chief Meditation Officer</p>
 			<p>Harvard University</p>
    		<a href="#"><i class="fa fa-dribbble"></i></a> 
    		<a href="#"><i class="fa fa-twitter"></i></a>  
    		<a href="#"><i class="fa fa-linkedin"></i></a>  
    		<a href="#"><i class="fa fa-facebook"></i></a> 
 			<p><button><a href="https://www.petitbambou.com/">Contact</a></button></p>
		</div>

 		<div class="tabbed">
    	<input type="radio" name="tabs" id="tab-nav-1" checked>
    	<label for="tab-nav-1">Happiness</label>
    	<input type="radio" name="tabs" id="tab-nav-2">
   	  <label for="tab-nav-2">Sleep</label>
    	<input type="radio" name="tabs" id="tab-nav-3">
    	<label for="tab-nav-3">Acceptance</label>
    	<input type="radio" name="tabs" id="tab-nav-4">
    	<label for="tab-nav-4">Relaxing</label>
    	<div class="tabs">
     	 <div><h2>STEP 1</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit. </p><p>Et non, ceci est <strong>une vraie phrase </strong> ;)
     	 Des liens cliquables se cachent sur cette page !</p></div>
     	 <div><h2>STEP 2</h2><p> Alors, on s'intéresse à la méditation à ce que je vois. Tu veux des tips ?</p></div>
      	<div><h2>STEP 3</h2><p> Si tu es anglophone, va voir <a href="https://www.headspace.com/">Headspace</a> dont cette page s'est inspirée ! Sinon, le <a href="https://www.petitbambou.com/">Petit Bambou</a> si tu veux pas faire de médiation en sous titré </p></div>
      	<div><h2>STEP 4</h2><p>Oublies pas un petit like si t'as kiffé, on t'envoie notre CMO (chief meditation officer) </p></div>  
			</div>
		</div>
	</div>
</body>